@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

body, * {
    font-family: 'ZCOOL XiaoWei', serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}